// body {
//     background-color: $backgroundColour;
//     @include mq-tablet {
//         background-color: $primaryBlack;
//     }
// }
html {
    font-size: 125%;
    scroll-behavior: smooth;
}

body {
    background:$colorGradient;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.mobileNav,
.toggle {
    display: none;
}


h1 {
    font-family: $secondaryFont;
    text-align: center;
    font-size: 4rem;
    color: $primaryWhite;
    text-transform: capitalize;
    font-weight: 300;
}

h2,
p {
    font-family: $baseFont;
    color: $primaryWhite;
}

h3 {
    font-family: $secondaryFont;
    font-size: 3rem;
    color: $lizzoBlue;
    text-align: center;
    margin: 0 auto;
}

h4 {
    font-family: $baseFont;
    font-size: 1rem;
    color: $primaryBlack;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
}
.resultDescription {
    padding: 20px;
    font-family: $baseFont;
    color: $primaryBlack;
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: .1rem;
}
.flexParent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}