

//flag by zoe rooney at https://codepen.io/zoerooney/pen/xIoCn
.flag {
    height: 125px; 
    width: 100px; 
    border-left: 50px solid $primaryWhite; 
    border-right: 50px solid $primaryWhite; 
    border-bottom: 39px solid transparent;
    margin-left: 20px;
    margin-top: -20px;
    position: fixed;
    }

    .flag p {
        text-transform: uppercase;
        // font-weight: 900;
        color: $lizzoPeach;
        font-family: $baseFont;
        display: inline-block;
        text-align: center;        
        position: absolute;
        padding: 10px;
        font-size: .6rem;
        letter-spacing: .3rem;
        margin-left: -50px;
        margin-top: 20px;
        }
    .flag a {
        width: 1px;
        height: 1px;
        padding: 50px;
        display: block;
        margin-left: -50px;
        margin-top: 20px;
        z-index: -1;
        opacity: 0;
    }


.logo {
    width: 30%;
    margin: 0 auto;
    fill: $primaryWhite;
    padding-top: 50px;
}
button {
    border: 0;
    width: 250px;
    padding: 10px;
    background-color: $primaryWhite;
    color: $lizzoBlue;
    font-family: $baseFont;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    margin: 0 auto;
    transition: ease .3s;
    &:hover {
        background-color: $lizzoPeach;
        color: $primaryWhite;
        transition: ease .3s;
    }
}
.nextQuestion,
.finishQuiz {
    margin-top: 20px;
    background: $lizzoBlue;
    color: $primaryWhite;
    &:hover {
        background: $lizzoPeach;
        color: $primaryWhite;
    }
}

.unWrapped {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 2%;
}
img {
    height: 350px;
    &:hover {
        transform: scaleX(-1);
    }
}

.slideInRight {
    animation: slideInRight 3s;
}