section {
    padding: 50px 0;
    min-height: 100vh;
    
}
.flexInsideContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.answerImage {
    width: 50%;
}
.answerOptions {
    width: 50%;
}
.popupLizzo {
    position: fixed;
    bottom: 0;
    left: 0;
}
.final {
    position: relative;
}

.results {
    display: none;
    background: $primaryWhite;
    position: absolute;
    width: 80%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    
}
.resultButtons {
    display: flex;
    justify-content: center;
}
.resultButtons button {
    background: $lizzoPeach;
    color: $primaryWhite;
    text-align: center;
    &:hover {
        background: $lizzoPink;
    }
}

.listen {
    background: $lizzoPink;
    color: $primaryWhite;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    &:hover {
        background: $lizzoBlue;
    }
}

//talk bubble css from css-tricks
// this was a stretch goal. I did not finish it but I have left the code here so that I can complete it at a later time. I promise it has use and isn't here for nothing :( 
    
// .circular-sb {
//     width: 250px;
//     border: 5px solid $primaryWhite;
//     background: $primaryWhite;
//     padding: 80px 0px;
//     margin: 30px auto;
//     border-radius: 50%;
//     text-align: center;
//     font-size: 24px;
//     font-weight: 900;
//     font-family: $handwrittenNote;
//     position: relative;
//     color: $lizzoPink;
// }
// /*right circle shape speech bubble*/
// .circle1 {
//     border: 5px solid $primaryWhite;
//     position: absolute;
//     width: 25px;
//     padding: 20px;
//     background: $primaryWhite;
//     border-radius: 50%;
//     right: -15px;
//     bottom: 23px;
// }
// .circle1:before {
//     content: "";
//     position: absolute;
//     width: 25px;
//     padding: 20px;
//     border-radius: 50%;
//     right: 0px;
//     bottom: 0px;
//     background: $primaryWhite;
// }
// .circle2 {
//     border: 5px solid $primaryWhite;
//     background: $primaryWhite;
//     position: absolute;
//     width: 5px;
//     padding: 10px 15px;
//     border-radius: 50%;
//     right: -60px;
//     bottom: 5px;
// }
// /*left circle shape speech bubble*/
// .circle3 {
//     border: 5px solid $primaryWhite;
//     background: $primaryWhite;
//     position: absolute;
//     width: 25px;
//     padding: 20px;
//     border-radius: 50%;
//     left: -10px;
//     bottom: 10px;
// }
// .circle3:before {
//     content: "";
//     position: absolute;
//     width: 25px;
//     padding: 20px;
//     border-radius: 50%;
//     right: 0px;
//     bottom: 0px;
//     background: $primaryWhite;
// }

// .circle4 {
//     border: 5px solid $primaryWhite;
//     background: $primaryWhite;
//     position: absolute;
//     width: 5px;
//     padding: 10px 15px;
//     border-radius: 50%;
//     left: -60px;
//     bottom: 5px;
// }
