section {
    padding: 50px 0;
}

.popupLizzo {
    position: fixed;
    bottom: 0;
    left: 0;
}
//talk bubble css from css-tricks
// #talkbubble {
//     width: 120px;
//     height: 80px;
//     background: $primaryWhite;
//     position: relative;
//     -moz-border-radius: 10px;
//     -webkit-border-radius: 10px;
//     border-radius: 10px;
// }
// #talkbubble:before {
//     content: "";
//     position: absolute;
//     right: 100%;
//     top: 26px;
//     width: 0;
//     height: 0;
//     border-top: 13px solid transparent;
//     border-right: 26px solid $primaryWhite;
//     border-bottom: 13px solid transparent;
// }

  .circular-sb {
    width: 250px;
    border: 5px solid $primaryWhite;
    background: $primaryWhite;
    padding: 80px 0px;
    margin: 30px auto;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    font-family: $handwrittenNote;
    position: relative;
    color: $lizzoPink;
  }
  
  
  /*right circle shape speech bubble*/
  
  .circle1 {
    border: 5px solid $primaryWhite;
    position: absolute;
    width: 25px;
    padding: 20px;
    background: $primaryWhite;
    border-radius: 50%;
    right: -15px;
    bottom: 23px;
  }
  
  .circle1:before {
    content: "";
    position: absolute;
    width: 25px;
    padding: 20px;
    border-radius: 50%;
    right: 0px;
    bottom: 0px;
    background: $primaryWhite;
  }
  
  .circle2 {
    border: 5px solid $primaryWhite;
    background: $primaryWhite;
    position: absolute;
    width: 5px;
    padding: 10px 15px;
    border-radius: 50%;
    right: -60px;
    bottom: 5px;
  }
  
  
  /*left circle shape speech bubble*/
  
  .circle3 {
    border: 5px solid $primaryWhite;
    background: $primaryWhite;
    position: absolute;
    width: 25px;
    padding: 20px;
    border-radius: 50%;
    left: -10px;
    bottom: 10px;
  }
  
  .circle3:before {
    content: "";
    position: absolute;
    width: 25px;
    padding: 20px;
    border-radius: 50%;
    right: 0px;
    bottom: 0px;
    background: $primaryWhite;
  }
  
  .circle4 {
    border: 5px solid $primaryWhite;
    background: $primaryWhite;
    position: absolute;
    width: 5px;
    padding: 10px 15px;
    border-radius: 50%;
    left: -60px;
    bottom: 5px;
  }
  
  
  
  