/* 
---------------------- 
@media Styles 
---------------------- 
*/
/* Medium Large Device Media Tags Begin */
@media (max-width: 940px) { 
    .flexInsideContainer {
        flex-wrap: wrap;


    }
    img {
        height: 200px;
    }
    .answerImage,
    .answerOptions {
        width: 50%;
    }

}
/* Medium Large Device Media Tags Ends */

/* Medium Small Device Media Tags Starts */
@media (max-width: 784px) { 
    body {
        border: 1px solid cyan;
    }
    .wrapper {
        width: 90%;
    }

    form {
        width: 90%;
        padding: 30px;
    }

    .flag {
        display: none;
        }

    .answerImage {
        display: none;
    }

    h1 {
        width: 75%;
        font-size: 2.6rem;
        text-align: center;
        margin: 30px auto;
    }

    .results {
        width: 100%;
    }
    
}    

/* Medium Small Device Media Tags Ends */

/* Small Device Media Tags Begin */
@media (max-width: 516px) {
    .lizzoStartImage {
        display: none;
    }
    .logo {
        width: 60%;
    }
    h1 {
        font-size: 2rem;
        margin: 50px auto;
    }

    form {
        padding: 25px;
    }

    form h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.8rem;
    }
    h4 {
        font-size: .8rem;
    }

    .resultDescription {
        font-size: .8rem;
        letter-spacing: normal;
        padding: 10px;
    }

    .answerOptions {
        width: 100%;
    }

    button {
        width: 80%;
    }

    .formRadio {
        height: 20px;
        width: 20px;
        // border-radius: 50px;    
        padding-right: 15px;
        transition: none;
    }
    .formRadio:checked::before
    {
        font-size: 1rem;
        content: '🍑';
        transform: none;
    }

    label {
        font-size: .8rem;
        width: 100%;
    } 



}
/* Small Device Media Tags Ends */

    
/* Tiny Device Media Tags Begin If Needed */
// @media (max-width: 420px) {

// }
/* Tiny Device Media Tags Ends */
    