// Colours 
$primaryBlack: #777777; 
$primaryWhite: #ffffff;
$lizzoPink: #F17AB0; 
$lizzoBlue: #2CACF0;
$lizzoPeach: #FBAA50;

$colorGradient: linear-gradient(60deg, rgba(241,122,176,1) 0%, rgba(44,172,240,1) 50%, rgba(251,170,80,1) 100%);

// Fonts
$baseFont: 'Lato', sans-serif;
$secondaryFont: 'Pacifico', cursive;
$handwrittenNote: 'Shadows Into Light', cursive;



