// Colours 
$primaryBlack: #777777; 
$primaryWhite: #ffffff;
$lizzoPink: #F17AB0; 
$lizzoBlue: #2CACF0;
$lizzoPeach: #FBAA50;

// Fonts
$baseFont: 'Lato', sans-serif;
$secondaryFont: 'Pacifico', cursive;
$handwrittenNote: 'Shadows Into Light', cursive;



