// Colours 
$primaryBlack: #212121; 
$primaryWhite: #ffffff;
$lizzoPink: #F17AB0; 
$lizzoBlue: #2CACF0;
$lizzoPeach: #FBAA50;

// Fonts
$baseFont: 'Raleway', sans-serif;
$secondaryFont: 'Pacifico', cursive;
$handwrittenNote: 'Just Another Hand', cursive;


